<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width"/>
	<title>@ViewBag.Title</title>
	<link href="~/css/menu-list.css" rel="stylesheet" />
	<link href="~/css/style.css" rel="stylesheet"/>
	<link href="~/css/registration_style.css " rel="stylesheet" />
</head>
<body class="body">
	@await Html.PartialAsync("_Navigation")
	@RenderBody()
</body>
</html>