
<nav class="menu-list">
	<ul>
		<li>
			<a asp-controller="Home" asp-action="HomePage">Домашняя страница</a>
		</li>
		<li>
			<a asp-controller="Account" asp-action="Login">Авторизация</a>
		</li>
		@* Только для Администратора
			<li>
			<a asp-controller="Hotel" asp-action="List">Отели</a>
		</li> *@
		@* <li>
			<a asp-controller="Room" asp-action="AllList">Комнаты</a>
		</li> *@
	</ul>
</nav>