
<nav class="menu-list">
	<ul>
		<li>
			<a asp-controller="Home" asp-action="HomePage">Домашняя страница</a>
		</li>
		<li>
			<a asp-controller="Registration" asp-action="Index">Регистрация</a>
		</li>
		<li>
			<a asp-controller="About" asp-action="Index">О нас</a>
		</li>
	</ul>
</nav>