
<nav class="menu-list">
	<ul>
		<li>
			<a asp-controller="Home" asp-action="HomePage">Домашняя страница</a>
		</li>
		<li>
			<a asp-controller="Account" asp-action="Logined">Авторизация</a>
		</li>
		<li>
			<a asp-controller="Hotel" asp-action="List">Отели</a>
		</li>
		<li>
			<a asp-controller="Room" asp-action="AllList">Комнаты</a>
		</li>
		<li>
			<a asp-controller="About" asp-action="Index">О нас</a>
		</li>
	</ul>
</nav>