@using Registration.Model.Home
@model HomePageModel

@{
	ViewBag.Title = "Home Page";
}

<div class="registration_style">
	<form asp-controller="Hotel" asp-action="FindList" method="post">
		<div class="box-line">
			<label asp-for="Location" class="label-line"></label>
			<input asp-for="Location" class="input-line" />
			<span asp-validation-for="Location" class="validation"></span>
		</div>
		<div class="box-line">
			<label asp-for="DateOfArrival" class="label-line"></label>
			<input asp-for="DateOfArrival" class="input-line" />
			<span asp-validation-for="DateOfArrival" class="validation"></span>
		</div>
		<div class="box-line">
			<label asp-for="DepartureDate" class="label-line"></label>
			<input asp-for="DepartureDate" class="input-line" />
			<span asp-validation-for="DepartureDate" class="validation"></span>
		</div>
		<div class="box-line">
			<label asp-for="Grownup" class="label-line"></label>
			<input asp-for="Grownup" class="input-line" />
			<span asp-validation-for="Grownup" class="validation"></span>
		</div>
		<div class="box-line">
			<label asp-for="Children" class="label-line"></label>
			<input asp-for="Children" class="input-line" />
			<span asp-validation-for="Children" class="validation"></span>
		</div>
		<div class="box-line">
			<label asp-for="IsAnimal" class="label-line"></label>
			<input asp-for="IsAnimal" class="input-line" />
			<span asp-validation-for="IsAnimal" class="validation"></span>
		</div>
		<input type="submit" value="Найти отель" class="btn-reg" />
	</form>
</div>

