@using Registration.Model.Home
@model HomePageModel

@{
	ViewBag.Title = "Home Page";
}

<div class="registration_style">
	<form asp-controller="Home" asp-action="HomePage" method="post">
		<div class="box-line">
			<label asp-for="Location" class="label-line"></label>
			<input asp-for="Location" class="input-line" />
			<span asp-validation-for="Location" class="validation"></span>
		</div>
		<div class="box-line">
			<label asp-for="dateStartBooked" class="label-line"></label>
			<input asp-for="dateStartBooked" class="input-line" />
			<span asp-validation-for="dateStartBooked" class="validation"></span>
		</div>
		<div class="box-line">
			<label asp-for="dateStartBooked" class="label-line"></label>
			<input asp-for="dateEndBooked" class="input-line" />
			<span asp-validation-for="dateStartBooked" class="validation"></span>
		</div>
		<div class="box-line">
			<label asp-for="Grownup" class="label-line"></label>
			<input asp-for="Grownup" class="input-line" />
			<span asp-validation-for="Grownup" class="validation"></span>
		</div>
		<div class="box-line">
			<label asp-for="Children" class="label-line"></label>
			<input asp-for="Children" class="input-line" />
			<span asp-validation-for="Children" class="validation"></span>
		</div>
		<div class="box-line">
			<label asp-for="IsAnimal" class="label-line"></label>
			<input asp-for="IsAnimal" class="input-line" />
			<span asp-validation-for="IsAnimal" class="validation"></span>
		</div>
		<input type="submit" value="Найти отели" class="btn-reg" />
	</form>
</div>

