@using Registration.Model.Hotels
@model BookedRoom
@{
    ViewData["Title"] = "Create";
}

<h1>Выбрать дату брони</h1>

<div class="registration_style">
	<form asp-route-hotelId="@ViewBag.roomId" asp-controller="Booked" asp-action="Create" method="post">
		<div class="box-line">
			<label asp-for="dataBooked" class="label-line"></label>
			<input asp-for="dataBooked" class="input-line"/>
			<span asp-validation-for="dataBooked" class="validation"></span>
		</div>

		<input type="submit" value="Забронировать дату" class="btn-reg" />
	</form>
	<p>@ViewBag.Message</p>
</div>


