
@{
    ViewData["Title"] = "Home Hotel";
}

<h1>This is Home Hotel</h1>

<ul>
    <li>
        <a asp-controller="Hotel" asp-action="CreateRoom">Добавить комнату</a>
        <a asp-controller="Hotel" asp-action="DeleteRoom">Удалить комнату</a>
        <a asp-controller="Hotel" asp-action="EditRoom">Редактировать комнату</a>
        <a asp-controller="Hotel" asp-action="ListRooms">Список комнат</a>
    </li>
</ul>

