@using Registration.Model.Hotels
@model Room
@{
    ViewData["Title"] = "CompleteCreate";
}

<h1>Успешное создание комнаты ID: @Model.Id</h1>

<a asp-controller="Room" asp-action="List" asp-route-hotelId="@Model.HotelId">Назад к отелю</a>