@using Registration.Model.Hotels
@model Room
@{
    ViewData["Title"] = "Create";
}

<h1>Создание комнаты</h1>

<div class="registration_style">
	<form asp-route-hotelId="@ViewBag.HotelId" asp-controller="Room" asp-action="Create" method="post">
		<div class="box-line">
			<label asp-for="Square" class="label-line"></label>
			<input asp-for="Square" class="input-line" />
			<span asp-validation-for="Square" class="validation"></span>
		</div>

		<div class="box-line">
			<label asp-for="MaximumGuests" class="label-line"></label>
			<input asp-for="MaximumGuests" class="input-line" />
			<span asp-validation-for="MaximumGuests" class="validation"></span>
		</div>

		<input type="submit" value="Добавить комнату" class="btn-reg" />
	</form>
</div>
